/*font-family: 'Lustria', serif;
font-family: 'Antic', sans-serif;
font-family: 'Rozha One', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Concert One', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Raleway', sans-serif;*/

/*CSS Drop down animation from:
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_slidetop
*/

a {
  text-decoration: none;
}

.pages {
  margin-top: 0;
  margin-bottom: 0;
}

/*Header*/
#navWrapper {
  display: flex;
  justify-content: space-between;
}

#navBar {
  display: flex;
  flex-direction: row;
  list-style: none;
  position: relative;
  background-color: white;
}

.navLink {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  display: inline;
  background-color: white;
  padding: 5px 20px;
  flex-direction: row;
  color: black;
}

.navLink:hover {
  background-color: goldenrod;
}

#socialLinks {
  position: relative;
  text-align: right;
  background-color: white;
}

i {
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

/*Home Page*/
#nameLogo {
}

#homeName {
  font-family: 'Concert One', cursive;
  margin-top: 100px;
  font-size: 25px;
}

#homeJob {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  margin-top: -20px;
}

#homeWrapper {
  max-width: 100%;
  height: 500px;
  margin-top: 10px;
}

#homeHeaderWrap {
  margin-left: 60%;

}

#homeHeader {
  color: rgb(150, 41, 56);
  font-family: 'Concert One', cursive;
  font-size: 120px;
  margin-top: -10px;
  text-shadow: 2px 2px #000000;
}

#homeTagline {
  margin-top: -80px;
  color: rgb(150, 41, 56);
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  text-shadow: 1px 1px #000000;
  padding-right: 25px;
}

#homeImage {
  background-image: url(../assets/home-page-no-bowtie.png);
  background-size: cover;
  height: 700px;
  display: flex;
}

#bowtie {
  background-image: url(../assets/bowtie.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 80px;
  width: 60px;
  margin-left: 126px;
  margin-top: 155px;
  position: absolute;
  animation: flash 2s;
}

@keyframes flash {
  0% {opacity: 0;}
  100% {opacity: 1;}
}


/*Work Page*/

#workWrapper {
  max-width: 100%;
/*  border: 1px solid black;*/
}

#workHeader {
  font-family: 'Concert One', cursive;
  font-size: 40px;
  text-align: center;
}

#workItemWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.workItem {
  width: 300px;
  height: 300px;
  position: relative;
  border: 1px solid gray;
  margin: 10px;
  border-radius: 10px;
  position: relative;
}


#workTextWrapper {
  position: absolute;
}

#workName {
  text-align: center;
}

.workText {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(150, 41, 56, .9);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#dateADog {
  background-image: url(../assets/work-thumbs/dogthumb.png);
  background-size: contain;
  height: 300px;
  width: 300px;
  border-radius: 10px;
  filter: grayscale(40%);
}

#dateADog:hover .workText{
  bottom: 0;
  height: 100%;
}

#dogItemHeader {
  font-family: 'Concert One', cursive;
  font-size: 40px;
  text-align: center;
  margin: 0;
}

#dogLanguages {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  text-align: center;
}

.workWebsite {
  font-family: 'Concert One', cursive;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  background-color: gray;
  padding: 5px;
  border-radius: 5px;
  color: rgb(150, 41, 56);
}

#gramCentralStation {
  background-image: url(../assets/work-thumbs/gcsthumb.png);
  background-size: contain;
  height: 300px;
  width: 300px;
  border-radius: 10px;
  filter: grayscale(40%);
}

#gramCentralStation:hover .workText{
  bottom: 0;
  height: 100%;
}

#gramItemHeader {
  font-family: 'Concert One', cursive;
  font-size: 40px;
  text-align: center;
  margin: 0;
}

#gramLanguages {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  text-align: center;
}

#makeMeAnOutfit {
  background-image: url(../assets/work-thumbs/outfitthumb.png);
  background-size: contain;
  height: 300px;
  width: 300px;
  border-radius: 10px;
  filter: grayscale(40%);
}

#makeMeAnOutfit:hover .workText{
  bottom: 0;
  height: 100%;
}

#outfitItemHeader {
  font-family: 'Concert One', cursive;
  font-size: 40px;
  text-align: center;
  margin: 0;
}

#outfitLanguages {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  text-align: center;
}

#racers {
  background-image: url(../assets/work-thumbs/divracer.png);
  background-size: contain;
  height: 300px;
  width: 300px;
  border-radius: 10px;
  filter: grayscale(40%);
}

#racers:hover .workText{
  bottom: 0;
  height: 100%;
}

#racersItemHeader {
  font-family: 'Concert One', cursive;
  font-size: 40px;
  text-align: center;
  margin: 0;
}

#racersLanguages {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  text-align: center;
}

#weather {
  background-image: url(../assets/work-thumbs/weatherthumb.png);
  background-size: contain;
  height: 300px;
  width: 300px;
  border-radius: 10px;
  filter: grayscale(40%);
}

#weather:hover .workText{
  bottom: 0;
  height: 100%;
}

#weatherItemHeader {
  font-family: 'Concert One', cursive;
  font-size: 40px;
  text-align: center;
  margin: 0;
}

#weatherLanguages {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  text-align: center;
}

#tweeder {
  background-image: url(../assets/work-thumbs/tweederthumb.png);
  background-size: contain;
  height: 300px;
  width: 300px;
  border-radius: 10px;
  filter: grayscale(40%);
}

#tweeder:hover .workText{
  bottom: 0;
  height: 100%;
}

#tweederItemHeader {
  font-family: 'Concert One', cursive;
  font-size: 40px;
  text-align: center;
  margin: 0;
}

#tweederLanguages {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  text-align: center;
}


/*Skills Page*/
#skillsWrapper {
  max-width: 100%;
/*  border: 1px solid black;*/
}

#skillsHeader {
  font-family: 'Concert One', cursive;
  font-size: 40px;
  text-align: center;
}

#skillsSectionWrapper {
  display: flex;
  position: relative;
  justify-content: space-around;
  max-width: 100%;
}

.skillsSectionHeader {
  position: relative;
  margin-bottom: 0px;
  margin-top: 0;
}

.skillsSectionContent {
  position: relative;
}

.skillsSections {
  position: relative;
  max-width: 25%;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.animalHead {
  height: 100px;
  width: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  margin: 30px;
}

#bunnyHead {
  background-image: url(../assets/animal-heads/bunny-head.png);
}

#bearHead {
  background-image: url(../assets/animal-heads/bear-head.png);
}

#foxHead {
  background-image: url(../assets/animal-heads/fox-head.png);
}

#deerHead {
  background-image: url(../assets/animal-heads/deer-head.png);
}

.skillsSectionHeader {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  text-align: center;
}


/*About Page*/

#aboutWrapper {
  max-width: 100%;
/*  border: 1px solid black;*/
  padding-bottom: 30px;
}

#aboutMeBackground {
  background-image: url(../assets/about-me.png);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 700px;
  display: flex;
  position: relative;
  background-position: left bottom;
}

#aboutText {
  width: 600px;
  height: 600px;
  background-color: rgba(0,0,0,.7);
  margin-left: 10%;
  margin-top: 3%;
  position: absolute;
  border-radius: 10px;
}

#aboutHeader {
  font-family: 'Concert One', cursive;
  font-size: 50px;
  text-align: center;
  color: white;
}

.aboutParagraph {
  margin: 0 auto;
  max-width: 70%;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  text-align: center;
  color: white;
  padding: 5px;
}

span {
  color: rgb(150, 41, 56);
}

/*Contact Page*/
#contactWrapper {
  max-width: 100%;
  border: 1px solid black;
  margin-top: 0;
}

#contactMeImage {
  background-image: url(../assets/contact-me.png);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 700px;
  background-position: left bottom;
}

#contactHeader {
  font-family: 'Concert One', cursive;
  font-size: 50px;
  text-align: center;
  margin-top: 0;
}

#contactParagraph {
  margin: 0 auto;
  max-width: 70%;
/*  border: 1px solid black;*/
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  text-align: center;
  padding: 10px;
}

#contactButton {
  width: 500px;
  height: 50px;
  margin: 0 auto;
  background-color: rgb(233,231,232);
  text-decoration: none;
  font-size: 30px;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  font-family: 'Concert One', cursive;
  font-size: 40px;
  color: rgba(148, 176, 167, 1);
}

